<head>
	<title>{{ .Site.Title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="canonical" href="{{ .Permalink }}">
	{{ template "_internal/opengraph.html" . }}
	{{ template "_internal/twitter_cards.html" . }}
	{{ range .AlternativeOutputFormats -}}
   	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
  	<link rel="stylesheet" href="/css/awsm.css">
  	<link rel="stylesheet" href="/css/main.css">
</head>